In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib notebook
import regex as re

In [10]:
lyrics = pd.read_csv('billboard_lyrics_1964-2015.csv', encoding = 'Latin-1')

In [147]:
lyrics

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0
...,...,...,...,...,...,...
5094,95,waves,mr probz,2015,my face above the water my feet cant touch th...,1.0
5095,96,el perdon,nicky jam and enrique iglesias,2015,enrique iglesias dime si es verdad me dijeron ...,3.0
5097,98,night changes,one direction,2015,going out tonight changes into something red ...,1.0
5098,99,back to back,drake,2015,oh man oh man oh man not againyeah i learned ...,1.0
5099,100,how deep is your love,calvin harris and disciples,2015,i want you to breathe me in let me be your ai...,1.0

In [22]:
# lyrics = lyrics.dropna()
# lyrics

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0
...,...,...,...,...,...,...
5094,95,waves,mr probz,2015,my face above the water my feet cant touch th...,1.0
5095,96,el perdon,nicky jam and enrique iglesias,2015,enrique iglesias dime si es verdad me dijeron ...,3.0
5097,98,night changes,one direction,2015,going out tonight changes into something red ...,1.0
5098,99,back to back,drake,2015,oh man oh man oh man not againyeah i learned ...,1.0
5099,100,how deep is your love,calvin harris and disciples,2015,i want you to breathe me in let me be your ai...,1.0

In [160]:
artist = lyrics.groupby(by='Artist')
artist.get_group('madonna')

,Rank,Song,Artist,Year,Lyrics,Source
1934,35,borderline,madonna,1984,something in the way you love me wont let me ...,1.0
1965,66,lucky star,madonna,1984,you must be my lucky star cause you shine on ...,1.0
1978,79,holiday,madonna,1984,holiday celebrate holiday celebrateif we took...,1.0
2001,2,like a virgin,madonna,1985,i made it through the wilderness somehow i ma...,1.0
2008,9,crazy for you,madonna,1985,swaying room as the music starts strangers ma...,1.0
2057,58,material girl,madonna,1985,some boys kiss me some boys hug me i think th...,1.0
2080,81,angel,madonna,1985,why am i standing on a cloud every time youre...,1.0
2097,98,dress you up,madonna,1985,youve got style thats what all the girls say ...,1.0
2128,29,papa dont preach,madonna,1986,,1.0
2134,35,live to tell,madonna,1986,i have a tale to tell sometimes it gets so ha...,1.0
2175,76,true blue,madonna,1986,ive had other guys ive looked into their eyes...,1.0
2229,30,open your heart,madonna,1987,watch outi see you on the street and you walk...,1.0
2241,42,whos that girl,madonna,1987,whos that girl whos that girlwhen you see her...,1.0
2245,46,causing a commotion,madonna,1987,ive got the moves baby youve got the motion i...,1.0
2257,58,la isla bonita,madonna,1987,como puede ser verdadlast night i dreamt of s...,1.0
2424,25,like a prayer,madonna,1989,life is a mystery everyone must stand alone i...,1.0
2454,55,express yourself,madonna,1989,baby bbbbaby come on girls you believe in lov...,1.0
2458,59,cherish,madonna,1989,so tired of broken hearts and losing at this ...,1.0
2504,5,vogue,madonna,1990,strike a pose strike a pose vogue vogue vogue...,1.0
2620,21,justify my love,madonna,1991,i want to kiss you in paris i want to hold yo...,1.0
2720,21,this used to be my playground,madonna,1992,this used to be my playground this used to be...,1.0
2865,66,deeper and deeper,madonna,1993,deeper and deeper and deeper and deeper sweet...,1.0
2866,67,rain,madonna,1993,i feel it its coming rainfeel it on my finger...,1.0
2912,13,ill remember,madonna,1994,hmm hmm say goodbye not knowing when the trut...,1.0
2983,84,secret,madonna,1994,things havent been the same since you came in...,1.0
3007,8,take a bow,madonna,1995,take a bow the night is over this masquerade ...,1.0
3070,71,secret,madonna,1995,things havent been the same since you came in...,1.0
3150,51,youll see,madonna,1996,you think that i cant live without your love ...,1.0
3286,87,dont cry for me argentina,madonna,1997,it wont be easy youll think it strange when i...,1.0
3298,99,you must love me,madonna,1997,where do we go from here this isnt where we i...,1.0
3331,32,frozen,madonna,1998,you only see what your eyes want to see how c...,1.0
3374,75,ray of light,madonna,1998,zephyr in the sky at night i wonder do my tea...,1.0
3516,17,music,madonna,2000,hey mister dj put a record on i want to dance...,1.0
3633,34,dont tell me,madonna,2001,dont tell me to stop tell the rain not to dro...,1.0
4190,91,hung up,madonna,2006,time goes by so slowly time goes by so slowly...,1.0

In [149]:
year = lyrics.groupby(by='Year')
year.get_group(2015)

,Rank,Song,Artist,Year,Lyrics,Source
5000,1,uptown funk,mark ronson featuring bruno mars,2015,this hit that ice cold michelle pfeiffer that...,1.0
5001,2,thinking out loud,ed sheeran,2015,when your legs dont work like they used to be...,1.0
5002,3,see you again,wiz khalifa featuring charlie puth,2015,its been a long day without you my friend and...,1.0
5003,4,trap queen,fetty wap,2015,im like hey wassup hello seen yo pretty ass s...,1.0
5004,5,sugar,maroon 5,2015,im hurting baby im broken down i need your lo...,1.0
...,...,...,...,...,...,...
5094,95,waves,mr probz,2015,my face above the water my feet cant touch th...,1.0
5095,96,el perdon,nicky jam and enrique iglesias,2015,enrique iglesias dime si es verdad me dijeron ...,3.0
5097,98,night changes,one direction,2015,going out tonight changes into something red ...,1.0
5098,99,back to back,drake,2015,oh man oh man oh man not againyeah i learned ...,1.0
5099,100,how deep is your love,calvin harris and disciples,2015,i want you to breathe me in let me be your ai...,1.0

In [150]:
artist_count = dict()
for index, row in lyrics.iterrows():
#     print(row['Artist'])
    if row['Artist'] not in artist_count:
        artist_count[row['Artist']] = 1
    else:
        artist_count[row['Artist']] += 1

In [151]:
max(artist_count.values())

35

In [152]:
for i, j in artist_count.items():
    if artist_count[i] == 35:
        print(i)

madonna